# Python
__pycache__/
*.pyc

# Data and Models tracked by DVC
/data/*
!/data/.gitkeep
!/data/*.dvc
/models/*
!/models/.gitkeep
!/models/*.dvc

# DVC cache
.dvc/cache

# Visual Studio Code settings
.vscode/